<h1>Fill up the following</h1>

<%= form_with model: @account, url: accounts_path, local: true do |forms| %>

  <% if @account.errors[:username].any? || @account.errors[:password].any? || @account.errors[:password_confirmation].any? %>
    <div class="alert alert-danger">
      <ul>
        <% @account.errors[:username].each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
        <% @account.errors[:password].each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
        <% @account.errors[:password_confirmation].each do |msg| %>
          <li> <%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= forms.label :car_model, "Car Model" %>
    <%= forms.text_field :car_model, required: true %>
  </div>

  <div>
    <%= forms.label :car_type, "Car Type" %>
    <%= forms.text_field :car_type, required: true %>
  </div>

  <div>
    <%= forms.label :plate_number, "Plate number" %>
    <%= forms.text_field :plate_number, required: true %>
  </div>

  <div>
    <%= forms.label :username, "Email account" %>
    <%= forms.text_field :username, required: true %>
  </div>

  <div>
    <%= forms.label :password %>
    <%= forms.text_field :password, required: true %>
  </div>

  <div>
    <%= forms.label :confirm_password %>
    <%= forms.password_field :password_confirmation , required: true %>
  </div>
  

  <%= forms.submit "Create Account" %>
<% end %>
